version: '3.8'

services:
  server:
    build: .
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - GEMINI_API_KEYS=${GEMINI_API_KEYS}
    volumes:
      - ./data:/app/data
    restart: always
